
 <dl class="dl-horizontal">
  <dt>Rating</dt>
   <dd>
   <% review.rating.times do %>
   <span class="glyphicon glyphicon-star"></span>
<%end%>
 <% (10 - review.rating).times do %>
<span class="glyphicon glyphicon-star-empty"></span>
 <%end%>
  </dd>
<dt>Description</dt>
 <dd><%= review.description %></dd>
 <dt>Create By</dt>
<dd><%= review.user.name %></dd>
<% if current_user == review.user%>
<dd><%= link_to 'Delete', [@product, review],method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-danger btn-xs'  %></dd>
<% end %>
</dl>
